{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
    <h1>Catégories</h1>

    <table class="table">
        <tbody>
        {% for category in categories %}
            <tr>
                <td><h3><a href="{{ path('app_category_show', {id : category.id}) }}">{{ category.name }}</a></h3></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune catégorie trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
