{% extends 'base.html.twig' %}

{% block title %}Edit Beer{% endblock %}

{% block body %}
    <div class="text-center min-vh-100 d-flex justify-content-center">
    <div class="form-signin w-25 align-self-center text-center">
    <h1>Edit Beer</h1>

    {{ include('beer/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    </div>
    </div>
{% endblock %}
