{% extends 'base.html.twig' %}

{% block title %}Beer index{% endblock %}

{% block body %}

    <div class="card mb-5 mt-2 w-75 p-3 text-center m-auto border-0 shadow-sm">
        <h1>Bières</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Alc% </th>
            </tr>
            </thead>
            <tbody>
            {% for beer in beers %}
                <tr>
                    <td>{{ beer.name }}</td>
                    <td>{{ beer.description }}</td>
                    <td>{{ beer.alcoholContent }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Pas de bière trouvée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
